.heading-1 {
	font-size: var(--heading-1-size);
	line-height: var(--heading-1-height);
}

.heading-2 {
	font-size: var(--heading-2-size);
	line-height: var(--heading-2-height);
}

.heading-3 {
	font-size: var(--heading-3-size);
	line-height: var(--heading-3-height);
}

.text-large {
	font-size: var(--text-large-size);
	line-height: var(--text-large-height);
}

.text-medium {
	font-size: var(--text-medium-size);
	line-height: var(--text-medium-height);
}

.text-small {
	font-size: var(--text-small-size);
	line-height: var(--text-small-height);
}
